<!-- SECTION 4: Contact-->
<section id="contact" class= "contact-section">
    <h2>Contact</h2>

    <div class="group">
      
        <form
          action="https://formspree.io/f/mgonklqz"
          method="POST"
>
          <label>
            Your email:
            <input type="email" name="email">
          </label>
          <label>
            Your message:
            <textarea name="message"></textarea>
          </label>
          <!-- your other form fields go here -->
          <button type="submit">Send</button>
        </form>
    </div>
  </section>
